@import "../../styles/variables.scss";

.game-rules {
    // width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    box-sizing: content-box;
    max-width: fit-content;
    max-height: max-content;
    text-align: left;

    &--visible {
        height: 100%;
    }

    &--toggle {

    }

    &--text {
        flex-grow: 0;
        max-height: 300px;
        padding: 10px;
        overflow: scroll;
    }
}