$background-color: #282c34;
$primary-text-color: white;

@import "./components/GameClock/GameClock.scss";

.app {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: $primary-text-color;
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  &--header {
    display: flex;
    order: 1;
    flex-grow: 1;
    min-height: 200px;
    align-items: center;
    // border: 1px solid white;
  }

  &--body {
    display: flex;
    order: 2;
    flex-grow: 2;
    // border: 1px solid white;
    flex-direction: column;
    justify-content: space-between;
  }

  &--footer {
    display: flex;
    order: 3;
  }
}

.scores {
  // border: 1px solid white;
}

.game {
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tile {
  display: flex;
  background-color: #282c34;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-top-color: lightgray;
  border-left-color: lightgray;
  border-bottom-color: black;
  border-right-color: black;
  font-size: medium;
  &:hover {
    cursor: pointer;
  }
  &--opened {
    border: none;
    background-color: rgba(40, 44, 52, 0.7);
    box-shadow: inset 0px 0px 10px 2px rgba(40,44,52,0.7);
  }
  &--unopened {
    width: 100%;
    height: 100%;
    &:hover {
      color: #61dafb;
    }
  }
}

.map {
  display: grid;
  background-color: gray;
  border: 1px solid gray;
  grid-template-columns: repeat(10, 40px);
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 1px;
}

.new-game-btn {
  color: white !important;
  &:hover {
    cursor: pointer;
  }
}