@import "./styles/variables.scss";

.app {
  text-align: center;
  color: $primary-text-color;
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  &--header {
    display: flex;
    order: 1;
    flex-grow: 1;
    min-height: 200px;
    align-items: center;
    font-family: $bungee-shade;
    color: $white;
    font-size: 70px;
    // border: 1px solid white;
  }

  &--body {
    display: flex;
    order: 2;
    flex-grow: 2;
    // border: 1px solid white;
    flex-direction: column;
    justify-content: space-between;
  }

  &--footer {
    display: flex;
    order: 3;
  }
}

.scores {
  // border: 1px solid white;
}

.game {
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.map {
  display: grid;
  background-color: gray;
  border: 1px solid gray;
  grid-template-columns: repeat(10, 40px);
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 1px;
}

.new-game-btn {
  color: white !important;
  &:hover {
    cursor: pointer;
  }
}